body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: black;
    background: linear-gradient(135deg,
            rgba(82, 134, 120, 0)10%,
            rgba(14, 85, 59, 0.606)100%),
        linear-gradient(to right, rgb(119, 117, 126) 10%, rgb(49, 7, 50) 100%);
    font-family: "Popins", sans-serif;
}

/* containaer */
.container{
    padding: 1%;
}

.content {
    padding: 1%;
    /* background-color: rgb(29, 34, 35) */
    margin-top: 10%;
}

.content-head {
    /* background-color: rgb(0, 140, 82); */
    text-align: center;
    margin-top: 50px;
    border: 1px solid #000000;
}

.text-head {
    font-size: 50px;
    color: rgb(167, 2, 90);
    font-family: "Popins", sans-serif;
}

.text {
    font-size: 30px;
    color: rgb(76, 22, 100);
    font-family: "Popins", sans-serif;
}

/* content body */

.content {
    padding: 2%;
}

.table {
    margin-top: 1%;
    font-size: 20px;
}

.body-box {
    /* background-color: rgb(255, 255, 255); */
    padding: 5%;
    font-family: Arial, sans-serif;
}

.btn:hover {
    font-family: "Popins", sans-serif;
    font-size: 23px;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg,
            rgba(93, 4, 96, 0.973)0%,
            rgba(255, 254, 254, 0.973)100%);
}

.btn {
    font-size: 20px;
    text-decoration: none;
    color: rgb(251, 243, 249);
    border-radius: 10px;
    font-family: "Popins", sans-serif;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.973)0%,
            rgba(236, 3, 213, 0.786)100%),
        linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 245, 255) 100%);
    box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.3);
}

/* footer */
footer {
    padding: 1%;
    margin-top: 10%;
    background: linear-gradient(135deg,
            rgba(14, 57, 70, 0.973)0%,
            rgb(56, 14, 54)100%),
        linear-gradient(to right, rgb(174, 174, 250) 0%, rgb(55, 9, 55) 100%);
    box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.3);
    font-family: "Popins", sans-serif;
    box-shadow: 2px 0px 50px 1px rgba(0, 0, 0, 0.444);
}

.foot-body {
    /* background-color: rgb(35, 89, 89); */
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 3 คอลัมน์แบบเท่ากัน */
    gap: 5px;
    /* ระยะห่างระหว่างข้อมูล */
    justify-content: space-between;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.contact {
    color: #000000;
    padding: 2%;
}

.footer {
    /* background-color: #88BFB5; */
    padding: 5%;
    margin-left: 100px;

}

.footer-1 {
    /* background-color: #57752b; */
    padding: 5%;
    color: #000000;
    box-shadow: 2px 0px 50px 1px rgba(9, 9, 9, 0.142);
}

.footer-2 {
    /* background-color: #57752b; */
    padding: 5%;
    list-style-type: none;
    color: #000000;
    box-shadow: 2px 0px 50px 1px rgba(9, 9, 9, 0.142);
}

.footer-3 {
    /* background-color: #57752b; */
    padding: 5%;
    list-style-type: none;
    color: #000000;
    box-shadow: 2px 0px 50px 1px rgba(9, 9, 9, 0.142);
}

.foot-text {
    padding: 1%;
}

.foot-text:hover {
    color: #ffffff;
}

.text-main {
    color: #000000;
}

.text-main:hover {
    color: #ffffff;
}

.foot-img {
    text-align: center;
    margin-top: 20%
}
